.why-section {
    background-color: white;
    color: #005f5f;
    padding: 4rem 2rem;
    text-align: center;
    margin-top: 50px;
  }
  .why-heading {
    font-size: 3rem;
    color: #005f5f;
    margin-top: 20px;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
  }
  .why-heading::after {
    content: "";
    position: absolute;
    bottom: -10px; /* space between text and line */
    left: 50%;
    transform: translateX(-50%);
    width: 60px;       /* adjust width of line */
    height: 4px;       /* thickness of line */
    background-color: rgb(240, 189, 67);
    border-radius: 2px;
  }
  
  .why-subheading {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 3rem;
    font-weight: bold;
    
  }
  
  .why-cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .why-card {
    background-color: whitesmoke;
    border: 2px solid rgb(240, 189, 67);
   border-radius: 12px;
    padding: 2rem;
    max-width: 280px;
    min-width: 250px;
    text-align: left;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.1);
  }
  .why-card:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgba(28, 27, 27, 0.1);
  }
  
  .why-card h3 {
    color: #005f5f;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  
  .why-card p {
    color: #ccc;
    font-size: 1rem;
    line-height: 1.6;
  }
  

  @media (max-width: 768px) {
    .why-cards-container {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
  
    .why-card {
      width: 90%;
      max-width: 400px;
      text-align: center;
    }
  
    .why-card h3 {
      text-align: center;
    }
  
    .why-card p {
      text-align: center;
    }
  }
  