.fhaconsultants-footer {
    background-color: white;
    color: #005f5f;
    padding: 3rem 2rem 1rem;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-col {
    flex: 1 1 220px;
  }
  
  .footer-logo {
    font-size: 1.8rem;
    color: #005f5f;
    margin-bottom: 0.5rem;
    margin-top: 15px;
  }
  
  .footer-col h3 {
    color: #005f5f;
    margin-bottom: 1.5rem;
  }
  
  .footer-col a {
    color:#005f5f ;
    text-decoration: none;
  }
  
  .footer-col a:hover {
    color: #005f5f;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2rem;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .no-bullets {
    list-style: none; /* removes bullets */
    padding: 0;
    margin: 0;
  }
  
  .no-bullets li {
    margin-bottom: 0.5rem; /* spacing between links */
  }
  

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-col {
      flex: none;
      width: 100%;
      max-width: 400px;
    }
  }
  