.fhaconsultants-footer {
    background-color: white;
    color: #005f5f;
    padding: 3rem 2rem 1rem;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-col {
    flex: 1 1 220px;
   
  }
  .footer-col h2 {
    color: #005f5f;
    
  }
  .footer-logo {
    font-size: 1.8rem;
    color: #005f5f;
    margin-bottom: 0rem;
    margin: 0px;
  }
  
  .footer-col h3 {
    color: #005f5f;
    margin-bottom: 1.5rem;
  }
  
  .footer-col a {
    color:#005f5f ;
    text-decoration: none;
  }
  
  .footer-col a:hover {
    color: #005f5f;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 2rem;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  .no-bullets {
    list-style: none; /* removes bullets */
    padding: 0;
    margin: 0;
  }
  
  .no-bullets li {
    margin-bottom: 0.5rem; /* spacing between links */
  }
  .facebook-icon {
    font-size: .9rem;
    color: #005f5f;
    top: 6px;
    margin-right: 5px; /* Optional: Facebook brand color */
  }
  
  .logo-text-wrap {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 1px; /* space between image and text */
  }
  
  .footer-logo-img {
    width: 40px;
    height: auto;
  }
  
  .footer-logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
  }
  .software-house-logos {
    display: flex;
    gap: 2.2rem;
    margin: 1rem 0;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .software-house-logos img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .software-house-logos a:hover img {
    transform: scale(1.1);
  }
  

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-col {
      flex: none;
      width: 100%;
      max-width: 400px;
    }
    .footer-col.logo-col {
      align-items: center;
      text-align: center;
    }
  
    .logo-text-wrap {
      justify-content: center;
    }
  
    .software-house-logos {
      justify-content: center;
    }
  
    .social-icons {
      justify-content: center;
    }
  }
  
