.partners-page {
  background-image: url('../assets/images/d.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

/* Optional dark overlay */
.background-overlay {
  padding: 60px 20px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Heading + description text */
.text-overlay {
  text-align: center;
  color: #005f5f;
  margin-bottom: 30px;
}

.text-overlay h1 {
  font-size: 3rem;
  color: #005f5f;
  margin-top: 20PX;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}
.text-overlay h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: rgb(240, 189, 67) !important;
  border-radius: 2px;
}

/* Logo container */
.white-container {
  background-color: transparent;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 900px;
  width: 90%;
}

/* Individual logo cards */
.partner-logo {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.partner-logo:hover {
  transform: scale(1.05);
}

.partner-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



@media (max-width: 768px) {
  .text-overlay h1 {
    font-size: 3rem;
    margin: 6.5rem;
  }
  .white-container {
    gap: 30px;
    max-width: 900px;
    width: 80%;
  }
}
